.App {
  text-align: center;
  height: 100%;
  margin: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: yellow;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}


.bg {
  height: 100%;
  background-image: url('./images/bg2.png');
  //background-image: url('./images/background.png');
  //background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
