name: gh pages publish

on:
  push:
    branches: release/gh-pages

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v5

    - name: setup node
      uses: actions/setup-node@v6
      with:
        node-version: 12
        registry-url: https://registry.npmjs.org/

    - name: Build Project
      run: |
        npm ci
        PUBLIC_URL=https://mcliff1.github.io/jonessite/ npm run build

    - name: run tests
      run: npm run test

    - name: deploy
      # run: |
      #   yarn
      #   npm run deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
